.cards1{
    
    font-size: 12px;
    background-image: linear-gradient(345deg,rgb(241, 240, 240), rgb(255, 255, 255));
    position: relative;
    width: 110%;
    border-radius: 10px;
    color: #11182a;
    border: 1px solid gray;
    margin-bottom: 10vh;
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.42);
}
#cards11{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

#cards12{
    display: flex;
    vertical-align: middle;
    line-height: 15px;
    margin: 5px 25px;
    
}
#cards12 img{
    margin-right: 15px;
}
.circle{
    background-color: rgb(254, 254, 254);
    height: 60px;
    width: 60px;
    top: -27px;
    right: 267px;
    border-radius: 100px;
    position: absolute;
    border: 1px solid gray;
}
#cadeado{
    position: absolute;
    top:-20px;
    right: 279px;
}
