@import url("cabeçalho.css");
@import url("body1.css");
@import url("body2.css");

body{
    background-color: #f2f2f2;
   
}
.icon{
    display: block;
    width: 15px;
    margin-right: 5px;
}
